body{
    margin:0px;
}
.fv {
    width: 100%;
    
}
.fv img {
    width: 640px;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width: 768px){
    .fv img {
        width: 100%;
    }
}

 .sns_btn {
     text-align: center;
 }
 .sns_btn ul li{
     display: inline-block;
     margin: 0 8px;
     cursor: pointer;
 }
 
 .buybtn{
    width: 174px;
    position: fixed;
    right: 0;
    bottom: 76px;
    z-index: 99;
}
.buybtn img{width: 100%; height: auto;}
@media screen and (max-width: 768px){
    .buybtn{
        width: 28%;
        max-width: 170px;
    }
}

.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}